<html><head><title>Response</title></head><body>
<script type="text/javascript">
  var elem = window.top.window.document.getElementById("<%= escape_javascript @identity %>");
  if (elem) {
    elem.finishUpload("<%= escape_javascript @identity %>", <%= @success %>, "<%= escape_javascript @response %>", "<%= escape_javascript @image_thumb %>", "<%= escape_javascript @image_id.to_s %>");
  }
</script>
</body></html>
