<script type="text/javascript">
  var ih = new ImageHelper();
  Event.observe(window, "load", function() {
      var doneImages = [ <%= @photoset.pictures.map { |pic| "{ 'id': #{pic.id}, 'url': '#{escape_javascript pic.image.url(:small_cropped)}', 'processing': #{pic.processed_image_processing?} }" }.join(", ") %> ];
      <% if @can_write %>
        PhotosetManager.onloadHandler(
                ih,
                "<%= escape_javascript picture_destroy_template_url + "/" %>",
                "<%= escape_javascript(image_path("ticker/ticker")) %>",
                "<%= escape_javascript(image_path("image_controls/delete.png")) %>",
                "<%= escape_javascript(image_path("image_controls/processed.png")) %>",
                "<%= escape_javascript(image_path("image_controls/processing.png")) %>",
                doneImages
        );
      <% else %>
        PhotosetManager.showReadonlyImages(
          ih,
          "<%= escape_javascript(image_path("ticker/ticker")) %>",
          doneImages
        );
      <% end %>
    });
  // TODO: Occasionally poll to see if processing is done
  //window.document.body.observe('click', markDoneProcessing);
</script>

<h1>Upload a picture</h1>

<p<%= @can_write ? "" : raw(" class=\"disabled\"") %>>Upload at least two pictures (5-10 is more useful) of a subject, and then
wait for the icon in the upper right to change from a little yellow clock to a
little green checkbox for each picture. This takes about 30 seconds per (small)
photo (and you have to reload to see the change), but you can keep uploading
photos while you wait. Once you've uploaded your pictures and they've finished
processing, click "Start bundling" below.</p>

<p<%= @can_write ? "" : raw(" class=\"disabled\"") %>>If you don't have any pictures, download the set <a
  href="/dwp/payphone.tgz">here</a> and try it.</p>

<p<%= @can_write ? "" : raw(" class=\"disabled\"") %>>Clicking the little "X" on a photo will remove it from the set.</p>



<% if @can_write %>
  Uploading photos for: <%= @photoset.name %>
<% end %>
<%= form_for :picture, :url => photoset_handle_upload_url(@photoset), :html => { :target => "upload_frame", :enctype => "multipart/form-data" } do |f| %>
  <ul>
    <li><%= f.label :image %><%= f.file_field :image, :disabled => !@can_write %></li>
  </ul>
  <%= f.submit "Upload!", :disabled => !@can_write %>
<% end %>


<div id="widgets" class="ticker" style="display: none;"></div>
<br clear="both"/>


<h1>Bundles</h1>

<p<%= @can_write ? "" : raw(" class=\"disabled\"") %>>Once you've uploaded your
pictures; click "Start bundling" below. For the demo set of 12 images, it will
take between 2 and 5 minutes to assemble the images into a model. (It's
actually about n!*7 seconds, where n is the number of images). Currently, you
have to reload manually to see if it's done. Once it is done, you can click
"view" next to your bundle to view the generated model.</p>

<p<%= @can_write ? "" : raw(" class=\"disabled\"") %>>If there was an error (or not
enough images), you'll get a message at the top of the page saying "No points
file found for Bundle X". In this case, upload more images of the subject and
click "re-bundle".</p>


<ul>
  <% @bundles.each do |b| %>
    <li>
      Bundle: <%= b.id %> (<%= b.updated_at %>)
      <% if (running_bundle = @running_bundles.find { |rb| rb[:bundle] == (b) }) then %>
        <% if running_bundle[:run_at] then %>
          (started at <%= running_bundle[:run_at] %>)
        <% else %>
          (queued)
        <% end %>
      <% else %>
        <% if @can_write %>
          <%= link_to "re-bundle", photoset_rebundle_url(b) %>
        <% end %>
        <%= link_to "view", bundle_url(b) %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if @can_write %>
  <%= link_to_if @photoset.can_bundle?, "Start bundling", photoset_bundle_url %>
<% end %>


<iframe id="upload_frame" name="upload_frame" src="#" style="display:none;"></iframe>
